agm-map {
    height: 400px;
    width: 100%;
  }

  .wrapper{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    min-height: 500px;
    padding: 50px;
    margin: 50px !important;
    
}

// .ui-table{
//   background-color: rgb(21, 114, 201);
//   color:white 
// }

// .ui-table table {
//   width: 99%;
// }

// .ui-table-responsive .ui-table-thead > tr > th,
// .ui-table-responsive .ui-table-tfoot > tr > td {
//   display: none !important;
// }

// .ui-table-responsive .ui-table-tbody > tr > td {
//  text-align: left !important;
//  display: block !important;
//  border: 0 none !important;
//  width: 100% !important;
// -webkit-box-sizing: border-box !important;
// -moz-box-sizing: border-box !important;
//  box-sizing: border-box !important;
//  float: left !important;
//  clear: left !important;
// }

// .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
//  padding: .4em !important;
//  min-width: 30% !important;
//  display: inline-block !important;
//  margin: -.4em 1em -.4em -.4em !important;
//  font-weight: bold !important;
// }

// .ui-datatable-data> tr> td {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 150px;
// }

// td{
//   word-break:break-all; 
//   width: auto
// }
