<div class="white-text">
  <div class="wrapper">
    <h1>Route Details
    </h1>
    <hr class="hr-light">

    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >
              <!-- <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>-->
              <agm-marker [latitude]="stop.stop._lat" [longitude]="stop.stop._long" *ngFor = "let stop of stops" [iconUrl] ="
              {
                url: '../../../assets/img/easy-travel-pin.png',
                scaledSize: {
                    width: 30,
                    height: 30
                }
            }"></agm-marker> 

                <agm-direction [origin]="origin" [destination]="destination" ></agm-direction>
                <!-- [waypoints]="waypoints" -->

            </agm-map>
            <!-- <h5>Address: {{address}}</h5>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div> -->
          </div>
        </div>
        <div class="col">
          <div>
              <div class="md-form" style="margin: 0px">
                  <mdb-icon fas icon="search" class="text-white active"></mdb-icon>
                  <input type="text" name="search" class="text-white form-control"
                      mdbInput (input)="dt.filterGlobal($event.target.value, 'contains')">
                  <label for="form3" class="text-white">Search</label>
              </div>
              <p-table [columns]="cols" [value]="this.routes" [responsive]="true" [rows]="10" [paginator]="true" #dt 
                       [resizableColumns]="true" (onRowSelect)="setRoute($event)" selectionMode="single" [(selection)]="selectedCar1" [loading]="loading">
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns" Class= "tableHeader" pResizableColumn>
                              {{col.header}}
                          </th>
                          <th pResizableColumn></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr [pSelectableRow]="rowData">
                          <td *ngFor="let col of columns">
                                  {{rowData[col.field]}}
                          </td>
                          <td>
                            <button type="button" class="btn btn-success  btn-rounded btn-sm waves-effect" (click) = "show(rowData)">Time Table</button>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
        </div>
        
      </div>


    </div>


  </div>
</div>