.intro-header {
    height: unset !important;
    
  }
  .intro-2 {
    background: url("../assets/img/back2.png")no-repeat center center;
    background-size: cover;
    padding: 50px !important;
    min-height: 100vh important;
  }

  .mdb-navbar{
    margin-bottom: 50px !important;
    max-height: 50px !important
  }
  .view {
    min-height: 850px !important;
  //  padding: 20px !important;
  }
  .btn .fa {
    margin-left: 3px;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
    max-height: 50px !important
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
    max-height: 50px !important
  }

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
      max-height: 50px !important
    }
  }
  h6 {
    line-height: 1.7;
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
  }
  // @media (max-width: 450px) {
  //   .margins {
  //     margin-right: 1rem;
  //     margin-left: 1rem;
  //   }
  // }

  .cardView{
      background-color: rgba(0, 0, 0, 0.452)
  }

  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1020px;
    }
  }
  agm-map {
    height: 300px;
  }