
  .wrapper{
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    min-height: 500px;
    padding: 50px;
    margin: 50px !important;
    
}

.custom-time-picker .ui-inputtext {
  width: 80px;
}
.custom-time-picker .ui-datepicker {
  top: 0;
  left: 80px;
}